# Cloudflare R2 Credentials for Rclone sync
# Substiua os valores abaixo pelos seus dados da Cloudflare
CF_ACCOUNT_ID=948671b7cec62fec60e5285ca2f5f977
CF_R2_ACCESS_KEY_ID=sua_chave_de_acesso_aqui
CF_R2_SECRET_ACCESS_KEY=sua_chave_secreta_aqui
